// Place all the styles related to the moves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board {
	border: 1px solid;
	padding: 5px;
	width: 360px;
	height: 360px;

	td {
		border: 1px solid;
		text-align: center;
		font-size: 18pt;
		width: 110px;
		height: 110px;
	}
}